@model IEnumerable<MedicalDeviceMaintenance.Models.Incident>

@{
    ViewData["Title"] = "Incidents";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportedAt)
            </th>
            <th>
                Device
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td>
                    @if (item.Status == MedicalDeviceMaintenance.Models.IncidentStatus.Open)
                    {
                        <span>Open</span>
                    }
                    else if (item.Status == MedicalDeviceMaintenance.Models.IncidentStatus.InProgress)
                    {
                        <span>In Progress</span>
                    }
                    else
                    {
                        <span>Closed</span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
