@model MedicalDeviceMaintenance.Models.MaintenanceAction
@{
    ViewData["Title"] = "Delete Maintenance Action";
}

<h1>Delete Maintenance Action</h1>
<hr />

<div class="alert alert-danger" role="alert">
    <strong>Warning:</strong> Are you sure you want to delete this maintenance action?
    This action cannot be undone.
</div>

<div class="row">
    <div class="col-md-6">
        <h4>Maintenance Action Details</h4>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Incident)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Incident.Title)
                <span class="text-muted small">(@Html.DisplayFor(model => model.Incident.Device.Name))</span>
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ActionTaken)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ActionTaken)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TechnicianName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TechnicianName)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ActionDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ActionDate)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd class="col-sm-8">
                @(Model.Notes ?? "No notes")
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Yes, Delete" class="btn btn-danger me-2" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>